body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    text-align: center;
}

.barraMenu {
    background-color: rgb(236, 28, 36);  
}

.barraMenu img {
    width: 100px; 
}

.barraMenu a {
    margin-left: 130px;
    padding-left: 30px;
}

/* Formas de pagamento */


.imgPagamentos {
    width: 25%;
}

/* Menu lojas */


.lojas {
    display: inline-block;
    margin: 30px 50px 30px 50px;
}

/* Contatos */

.email img {
    width: 50px;
}


.whatsapp img {
    width: 50px;
}

/* Formulario */


.inputNome {
    width: 400px;
    height: 20px;
}

.textoArea {
    width: 400px;
    height: 40px;
}

/* Menu de produtos */

.categorias {
    width: 220px;
    position: absolute;

}

ul, li {
    padding-left: 10px;
    cursor: pointer;
    list-style: none;
}

/* Produtos */


.caixaProdutos {
    display: inline-block;
    text-align: center;
    margin-left: 50px;
}

.caixaProdutos p {
    width: 320px;
}

.imgItens {
    width: 120px;
    cursor: pointer;
}

.precoRiscado {
    text-decoration: line-through;
}

.produtos{
    margin-left: 200px;
}