body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Barra superior da pagina */

.barraMenu {
    background-color: rgb(236, 28, 36);  
}

.barraMenu img {
    width: 100px; 
}

.barraMenu a {
    margin-left: 130px;
    padding-left: 30px;
}

/* Texto da index */

.textoPagina {
    padding-top: 50px;
}

/* Formas de pagamento */

.divPagamentos {
    text-align: center;
}

.divPagamentos h4 {
    color: red;
}

#idPagamentos {
    text-align: center;
    padding-top: 10%;
}

#idPagamentos h4 {
    color: red;
}

.imgPagamentos {
    width: 25%;
}

/* Menu lojas */

.nossasLojas {
   text-align: center;
}

.lojas {
    display: inline-block;
    margin: 30px 50px 30px 50px;
}

/* Contatos */

.contato {
    text-align: center;
    margin-top: 10px;
}

.email {
    display: inline-block;
    padding-right: 25px;
}

.email img {
    width: 50px;
}

.whatsapp {
    display: inline-block;  
    padding-left: 25px;
}

.whatsapp img {
    width: 50px;
}

/* Formulario */

form {
    text-align: center;
 
}

.inputNome {
    width: 400px;
    height: 20px;
}

.textoArea {
    width: 400px;
    height: 30px;
}

.botao {
    margin-top: 10px;
    width: 100px;
    height: 30px;
}

/* Menu de produtos */

.categorias {
    width: 220px;
    position: absolute;
}

ul, li {
    padding-left: 10px;
    cursor: pointer;
}

/* Produtos */

.caixaProdutos {
    display: inline-block;
    text-align: center;
    margin-left: 50px;
}

.caixaProdutos p {
    width: 320px;
}

.imgItens {
    width: 120px;
    cursor: pointer;
}
.preco {
    color: red;
}

.precoRiscado {
    text-decoration: line-through;
}

.produtos{
    margin-left: 200px;
}